body {
  box-sizing: border-box;
  background: linear-gradient(90deg,rgba(185, 188, 87, 0.597) 10%, rgb(255, 255, 138) 60%, rgba(178, 181, 90, 0.574) 90%);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(251, 125, 125);
}

h1 {
  text-shadow: 1px 1px 2px rgb(36, 36, 36);
  font-size: 50px;
}


button {
  background-color:rgba(162, 58, 58, 0.489);
  color: lightgoldenrodyellow;
  border: solid;
  border-color: slategray;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

#againButton {
  display: none;
}

.jumbotron {
  color: rgb(162, 58, 58);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity: 90%;
  background-size: auto;
}

img {
  height: 280px;
  width: 280px;
}